.galleryGrid {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding: 50px;
 
}

.buttonImage {
    max-width: 100%;
}

.galleryItem {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 20px !important;
  
   

}

