.galleryGrid {

    display: absolute;
    z-index: 5000;
    max-width: 1200px;
    justify-content: center;
    margin-top: 175px;
}

.headingGallery {
    position: absolute;
    text-decoration: none;
    color: darkgray;
    text-shadow: white;
    font-size: 20px;
    border-radius: 20px 20px 0px 0px;
    border-color: rgba(250, 128, 114, 0.69);
    border-style: solid;
    border-bottom: none;
    background-color: #467367;
    padding: 10px;
    width: 200px;
    height: 50px;
    z-index: 6000;

}



.galleryMotionDiv {
    margin: 0px !important;
}

.buttonImage {
    width: 200px;
    height: 350px;
    border-style: solid;
    border-color: rgba(250, 128, 114, 0.69);
    object-fit: scale-down;
    border-radius: 20px;
    z-index: -5000;
    background-color: #467367;
}



button {
    background-color: transparent;
    border-style: none;
}