.galleryGrid {

    display: flex;
    z-index: 5000;
    width: 100%;
    justify-content: left;
    margin-top: 120px;
   
}

.headingGallery {
    position: absolute;
    text-decoration: none;
    color: darkgray;
    text-shadow: white;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
    border-color: silver;
    border-style: solid;
    border-bottom: none;
    background-color: #051438;
    padding: 20px;
    width: 250px;
    height: 50px;
    z-index: 6000;
    opacity: 70%;

}




.galleryMotionDiv {
    margin: 0px !important;
}

.buttonImage {
    width: 250px;
    height: 250px;
    
    border-style: solid;
    border-color:silver;
    object-fit: scale-down;
    border-radius: 10px;
    z-index: -5000;
    background-color:#051438;
    opacity: 70%;
}



button {
    background-color: transparent;
    border-style: none;
}