.homeTwoGrid {
    background-color: transparent !important;
    width: 100% !important;
    margin: 0px !important;
}

.gridContainer {
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiGrid-root {
    background-color: transparent !important;
}

.centerLogo {
    display: flex;
    justify-content:center;
    border: 0;
    margin-top: 150px;
    align-items: center;
    font-size: 200px;
    color: salmon;
    text-shadow: -15px -25px 25px #3c2e2e;
    font-family: europa-bold-webfont;
}

.css-1dan5yl-MuiGrid-root {
    margin: 0 !important;

}

.center {
  
   z-index: 1;
}



