.homeTwoGrid {
    background-color: transparent !important;
    width: 100% !important;
    margin: 0px !important;
}

.gridContainer {
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiGrid-root {
    background-color: transparent !important;
}

.centerLogo {
    display: flex;
    justify-content:center;
    border-style: solid;
    margin-top: 120px;
    align-items: flex-start;
    font-size: 40px ;
    color: rgb(248, 218, 161);
    text-shadow: -10px -20px 20px #3c2e2e;
    font-family: CaslonTitling;
    text-align:center;
    text-size-adjust:initial;
    text-overflow:clip;
    background-image: url('../../assets/AndersonA.jpeg');
    height: 500px;
    width: 100%;
    background-size:cover;
    object-fit:cover;
    object-position:center;
    opacity: 80%;
    
}

.css-1dan5yl-MuiGrid-root {
    margin: 0px !important;

}

.homeLink {
    text-decoration: none;
}

.center {
  
   z-index: 1;
}



