.modal {
   
    width: clamp(50%, 700px, 90%);
    height: min (50%, 150px);
    justify-content: left;
    background-color: #051438 ;
    border-style: solid;
    border-radius: 12px;
    border-color: silver;
    opacity: 80%; 
    height: auto;
    margin-top: 350px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Gotham-book';

}

.modalContent {
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    color: white;
    font-family: 'Gotham-book';
    padding: 5px;
    width: 100%;

}

.contentList {
    list-style: none;
    width: 100%;
}

.buttonList {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

.musicPlayer {
    border-style: none;
    width: 100%;
}

.closeButton {
    border-style: solid;
    border-color: silver; 
    border-radius: 12px;
    color: white;
    background-color: silver;
    padding: 20px;
    font-size:large;
    width: 100px;
}

.linkInfo {

    text-decoration: none;
    color: silver;
}