
.icon { 
    color: grey;
    width: 40px;

}

.nav {
    color: lightgray;
    font-family: 'europa-bold-webfont';
    font-size: medium;
    margin-left: 50px !important;
    margin-top: 0px !important;
    border-radius: 2%;
    opacity: 50%;
   
}

#drawerLogo {
    margin-left: 20px;
}

.MuiToolbar-gutters, .MuiToolbar-root {
    padding: 10;
    margin-right: 0;
}

link {
    color: lightgray;
}

link:hover {
    color: salmon;
}




