
.icon { 
    color: grey;
    width: 40px;

}

.nav {
    color: lightgray;
    font-family: 'europa-bold-webfont';
    font-size: medium;
    margin-left: 50px !important;
    margin-top: 50px !important;
    border-radius: 2%;
    opacity: 50%;
   
}

.navBar {
    margin-top: 20px;
}

#drawerLogo {
    margin-left: 20px;
}

.MuiToolbar-gutters, .MuiToolbar-root {
    padding: 55px;
    margin-left: 15px;
    margin-right: 0;
}

link {
    color: lightgray;
}

link:hover {
    color: salmon;
}

@media screen and (min-width: 2000px) {
.css-1bbt130-MuiContainer-root {
    max-width: none !important; 
}

}


