
.discContainer {
    position: absolute;
    z-index: -1;
    margin-bottom: 100px !important;
  

 
}

.MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1 discContainer css-a5rdam-MuiGrid-root {

position: absolute;
margin-top: 100px !important;

}

.products {
   
   display: flex;
   justify-content: space-around;
    border-style: solid;
    border-color: red;
    
}

.imageProduct {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 300px;
    height: 300px;
    padding: 5px;
    
}

.saveButton {
   
    height: 100px;
    padding: 60px;
    border-style: none;
    background-color: transparent;
   
}

.css-mhc70k-MuiGrid-root {

    margin-top: -50px !important;
}