


.discContainer {

    margin-top: 80px !important;
    margin-left: 40px !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    position: absolute;
    justify-content: center;
    width: 100% !important;
    align-items: center;
    height: 100%;
    z-index: -1;
}

.imageProduct {

    width: 250px;
    height: 250px;

}

