.heading {
    display: block;
    padding: 5px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    font-family: 'europa-bold-webfont';
    color: lightgray;

}

.mxnifesto {

    display: block;
    justify-content: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #051438;
    border-style: solid;
    border-color: silver;
    border-radius: 12px;
    /*box-shadow: rgba(177, 232, 233, 0.4) -5px 5px, rgba(46, 237, 240, 0.3) -10px 10px, rgba(46, 227, 240, 0.2) -15px 15px, rgba(46, 240, 233, 0.1) -20px 20px, rgba(46, 217, 240, 0.05) -25px 25px;*/
    opacity: 80%;

}

.manifestoParagraph {
    font-family: 'Gotham-Book';
    color: lightgray;
    white-space: pre-line;
    padding: 5px;
    margin: 20px;
    text-align: justify;
    justify-content: center;
    line-height: 1.5rem;
    font-size-adjust: 25px;
   
}

